@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    article button {
        border: 1px solid #fff;
        color: #fff;
        padding: 12px 25px;
        font-weight: 500;

        transform: scale(1.5);
        transition: all 0.5s;
    }

    article::before {
        content: "";

        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);

        position: absolute;
        top: 0;
        left: 0;

        opacity: 0;

        transition: all 0.5s;
    }

    article:hover::before {
        opacity: 1;
    }

    article:hover button {
        transform: scale(1);
        opacity: 1;
    }

    .divider::before {
        height: 1px;
    }

    .divider::after {
        height: 1px;
    }

    .h-120 {
        height: 422px;
    }

    .h-84 {
        height: 325px;
    }

    .w-390 {
        width: 390px;
    }

    .bg-sky-10 {
        background-color: #F6F9FF;
    }

}