@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .divider::before {
        height: 1px;
    }

    .divider::after {
        height: 1px;
    }

    .h-120 {
        height: 422px;
    }

    .h-84 {
        height: 325px;
    }

    .w-390 {
        width: 390px;
    }

    .bg-sky-10 {
        background-color: #F6F9FF;
    }

    .w-100 {
        width: 585px;
    }

    .-mt-100 {
        margin-top: -417px;
    }

    .text-68 {
        font-size: 68px;
    }

    .text-gallery {
        font-size: 77px;
    }

    .text-gallery2 {
        font-size: 73px;
    }

    .text-52 {
        font-size: 52px;
    }

    .text-48 {
        font-size: 48px;
    }

    .text-55 {
        font-size: 56px;
    }

    .space-grotesk-600 {
        font-family: "Space Grotesk", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
    }

    .space-grotesk-500 {
        font-family: "Space Grotesk", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }

    .hide-scrollbar {
        scrollbar-width: none; 
        -ms-overflow-style: none;
      }
    
      .hide-scrollbar::-webkit-scrollbar {
        display: none;
      }

      .w-49{
        width:49%;
      }

      .bell path {
        fill: #605f5f;
      }
      
      .noti-btn:hover .bell {
        animation: bellRing 0.9s both;
      }
      
      /* bell ringing animation keyframes*/
      @keyframes bellRing {
        0%,
        100% {
          transform-origin: top;
        }
      
        15% {
          transform: rotateZ(10deg);
        }
      
        30% {
          transform: rotateZ(-10deg);
        }
      
        45% {
          transform: rotateZ(5deg);
        }
      
        60% {
          transform: rotateZ(-5deg);
        }
      
        75% {
          transform: rotateZ(2deg);
        }
      }
      
      .noti-btn:active {
        transform: scale(0.8);
      }

      @media (max-width: 768px) {
      .timeline-vertical:where(.timeline-snap-icon) > li {
        --timeline-col-start: minmax(0, 0);
      }
      }

      @font-face {
        font-family: 'Rocher';
        src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
      }
      
      @font-palette-values --Mint {
        font-family: Rocher;
        base-palette: 1;
      }
      
      .mint {
        font-palette: --Mint;
        font-family: 'Rocher';
      }

    

}